
#contenedor{
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    width: 80%;
}

p{
    float: left;
    width: 25%;
    padding: 5px;
    margin: 10px;
    border: 1px solid red;
}
.reseteo{
    clear: both;
}