p{
    float: left;
    width: 150px;
    padding: 5px;
    border: 1px solid red;
}
#contenedor{
    padding: 20px;
    margin: auto;
    border: 1px solid black;
    width: 80%;
}

.reseteo{
    clear: both;
}