/*estilos por defecto para ejemplo3*/

body {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
}

    ol.a {list-style-type: armenian;}
    ol.b {list-style-type: cjk-ideographic;}
    ol.c {list-style-type: decimal;}
    ol.d {list-style-type: decimal-leading-zero;}
    ol.e {list-style-type: georgian;}
    ol.f {list-style-type: hebrew;}
    ol.g {list-style-type: hiragana;}
    ol.h {list-style-type: hiragana-iroha;}
    ol.i {list-style-type: katakana;}
    ol.j {list-style-type: katakana-iroha;}
    ol.k {list-style-type: lower-alpha;}
    ol.l {list-style-type: lower-greek;}
    ol.m {list-style-type: lower-latin;}
    ol.n {list-style-type: lower-roman;}
    ol.o {list-style-type: upper-alpha;}
    ol.p {list-style-type: upper-latin;}
    ol.q {list-style-type: upper-roman;}
    ol.r {list-style-type: none;}
    ol.s {list-style-type: inherit;}