body {
  margin: 40px;
}

/*declaracion de areas a utilizar*/
 .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }

  .header {
    grid-area: header;
  }

/*mapa de como va a quedar nuestro layout
tres columnas y cuatro filas*/
  .wrapper {
  
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 360px  400px  340px;
    grid-auto-rows: 70px 70px 70px 70px;
    grid-template-areas:
               "....... header  header"
               "sidebar content content"
               "sidebar content content"
               "sidebar content content";
    background-color: #fff;
    color: #444;
  }
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.header {
  background-color: #999;
}