body {
    margin: 40px;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .box:nth-child(even) {
    background-color: #ccc;
    color: #000;
  }
  
  .wrapper {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
  }
  
  .box2 {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    outline: 2px solid red;
    z-index: 10;
  }