body {
    background: #000000;
    margin: 0;
  }

  #backgroundImage {
    border: none;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
  }

  [show-background-image] #backgroundImage {
    visibility: visible;
  }