body {
    margin: 40px;
    background-color: #444;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    background-color: #fff;
    color: #444;
    padding: 10px;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
}

.a {
    background-color: rgb(255, 38, 38);
    grid-column: 1/5;
}

.b {
    background-color: rgb(30, 95, 246);
    grid-column: 1/3;
}

.c {
    background-color: rgb(59, 236, 133);
    grid-column: 4/5;
    grid-row: 2;
}

.d {
    background-color: rgb(110, 45, 110);
    grid-column: 1/5;
    grid-row: 3;
}