body {
    background-color: brown;
    color: white;
}

#cabecera {
    text-align: center;
}

.inicio {
    margin-top: 90%;
    margin-left: 40%;
    margin-right: 40%;
}

.enlaces {
    text-align: center;
}