/*estilos por defecto*/

body {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
}

pre {
    text-align: center;
    font-size: 15pt;
    font-family: monospace;
}

ul.cuadrado{
    display: online;
   list-style-type:square ; 
   font-size: 18pt;
   color: red
}

li.horizontal{
    display: inline;
}