body {
    background-color: #444;
    width: 80%;
    margin: 40px;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, [col] 1fr);
    grid-template-rows: repeat(5, [row] 1fr);
    background-color: #fff;
    color: #444;
    padding: 5px;
}

.box {
    background-color: rgb(117, 105, 228);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.header {
    grid-column: 1/5;
}

.c {
    grid-column: 3/4;
    grid-row: 2/4;
}

.g {
    grid-column: 4/5;
    grid-row: 3/5;
}

.h {
    grid-row: 4/7;
}