div{
	border: 1px solid blue;
	background-color: rosybrown;
	margin: 30px;
	padding: 20px;
}

#dog1 {
position:relative;
left: 50px;
bottom: 50px;
}

#dog2 {
position:relative;
left: 100px;
bottom: 20px;
}

#dog3 {
position:relative;
left: -50px;
bottom: 70px;
}