div{
	border: 1px solid blue;
	background-color: rosybrown;
}

#box1 { 
position:absolute;
top: 50px;
left: 50px;
}

#box2 { 
position:absolute;
top: 50px;
right: 50px;
}

#box3 {
position:absolute;
bottom: 50px;
right: 50px;

}

#box4 {
position:absolute;
bottom: 50px;
left: 50px;
}