#div-0, #div-2 {
background-color:#88d;
color:#000;
}

#div-1 {
width:400px;
background-color:#000;
color:#fff;

}

#div-1-padding {

padding:10px;
}

#div-1a {
background-color:#d33;
color:#fff;
position:absolute;
top:0;
right:1000px;
width:200px;
}

#div-1b {
background-color:#3d3;
color:#fff;
}

#div-1c {
background-color:#33d;
color:#fff;
}