body {
    background-color: cadetblue;
    margin: 40px;
    width: 60%;
}

.wrapper {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
    background-color: darkcyan;
    border: 3px solid darkred;
}

.header {
    padding: 10px;
    background-color: yellow;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 4px;
    grid-column: 1/4;
    grid-row: 1;
}

.nav {
    padding: 10px;
    background-color: yellow;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 4px;
    grid-column: 1/4;
    grid-row: 2;
}

.sidebar {
    padding: 20px;
    background-color: yellow;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 4px;
    grid-column: 1/2;
    grid-row: 3;
}

.main {
    padding: 10px;
    padding-top: 20px;
    background-color: yellow;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 4px;
    grid-column: 2/4;
    grid-row: 3;
}

.ad {
    padding: 10px;
    padding-top: 20px;
    background-color: yellow;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 4px;
    grid-column: 1/2;
    grid-row: 4;
}

.footer {
    padding: 10px;
    padding-top: 20px;
    background-color: yellow;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 4px;
    grid-column: 2/4;
    grid-row: 4;
}

.link {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
}

.a {
    grid-column: 1/2;
    grid-row: 1;
}

.b {
    grid-column: 2/3;
    grid-row: 1;
}

.c {
    grid-column: 3/4;
    grid-row: 1;
}