body {
    background-color: cadetblue;
    margin: 40px;
    width: 60%;
}

.wrapper {
    padding: 10px;
    width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 20px;
    background-color: darkcyan;
    border: 3px solid darkred;
}

.header {
    padding: 10px;
    background-color: rgb(255, 166, 0);
    border: 3px solid darkred;
    border-radius: 4px;
    grid-column: 1/4;
    grid-row: 1;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color: rgb(255, 166, 0);
    border: 3px solid darkred;
    border-radius: 4px;
    grid-column: 1/4;
    grid-row: 2;
}

.sidebar {
    padding: 20px;
    background-color: rgb(255, 166, 0);
    border: 3px solid darkred;
    border-radius: 4px;
    grid-column: 1/2;
    grid-row: 3;
}

.main {
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(255, 166, 0);
    border: 3px solid darkred;
    border-radius: 4px;
    grid-column: 2/4;
    grid-row: 3;
}

.ad {
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(255, 166, 0);
    border: 3px solid darkred;
    border-radius: 4px;
    grid-column: 1/2;
    grid-row: 4;
}

.footer {
    padding: 10px;
    padding-top: 20px;
    background-color: rgb(255, 166, 0);
    border: 3px solid darkred;
    border-radius: 4px;
    grid-column: 2/4;
    grid-row: 4;
}

.a {
    margin: auto;
    grid-column: 1 / 2;
}

.b {
    margin: auto;
    grid-column: 2 / 4;
}

.c {
    margin: auto;
    grid-column: 4 / 5;
}

s