body {
    background-color: gray;
}

.wrapper {
    background-color: rgb(43, 122, 226);
    border: 2px solid black;
    padding: 20px;
    width: 70%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, [columna] 1fr);
    grid-template-rows: repeat(4, [fila] 1fr);
    grid-gap: 20px;
}

.title {
    background-color: rgb(169, 29, 235);
    border: 2px solid black;
    grid-column: 1/5;
    padding: 2 0px;
}

.aside {
    background-color: rgb(29, 50, 235);
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: subgrid;
    padding: 20px;
    grid-gap: 12px;
    grid-column: 1/2;
    grid-row: 2/4
}

.lado {
    background-color: rgb(29, 235, 39);
    border: 2px solid black;
    padding: 10px;
}

.a {
    grid-column: 1/2;
}

.b {
    grid-column: 1/4;
}

.c {
    grid-column: 1/3;
    grid-row: 3/5;
    height: 50px;
}