body {
    margin: 40px;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "....... header header" "sidebar content content" "footer  footer  footer";
    background-color: #fff;
    color: #444;
}

.box {
    background-color: rgb(114, 72, 212);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}

.header,
.footer {
    background-color: rgb(72, 156, 212);
}